* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a,img {
	border: 0;
}

em {
	font-style: normal;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #666666;
}

a:hover {
	color: #FF6699;
}

body {
	background: url("img/bodybg.jpg") repeat #f5f6f7;
	color: #666666;
	font-family: Arial;
	font-size: 12px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-table;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

*+html .clearfix {
	min-height: 1%;
}

.demo {
	width: 950px;
	margin: 0 auto;
}

/* item_list */
.item_list {
	position: relative;
	padding: 0 0 50px;
}

.item {
	width: 226px;
	background: #fff;
	overflow: hidden;
	margin: 15px 0 0 0;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);
}

.item_t {
	padding: 10px 8px 0;
}

.item_t .img {
	background-color: #FFFFFF;
	margin: 0 auto;
	position: relative;
	width: 210px;
	min-height: 210px;
}

.item_t .img a {
	display: block;
}

.item_t .img a:hover {
	background: #000;
}

.item_t .img a:hover img {
	filter: alpha(opacity =                                               80);
	-khtml-opacity: 0.8;
	opacity: 0.8;
	-webkit-transition: all 0.3s ease-out;
	-khtml-transition: all 0.3s ease-out;
}

.item_t .price {
	position: absolute;
	bottom: 10px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.2);
	color: #FFF;
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#33000000,
		endcolorstr=#33000000);
}

.item .btns {
	display: none;
}

.img_album_btn {
	top: 0px;
	right: 0px;
	position: absolute;
	background: #ff6fa6;
	color: #ffffff;
	height: 20px;
	line-height: 20px;
	width: 56px;
	border-radius: 3px;
}

.img_album_btn:hover {
	color: #fff;
}

.item_t .title {
	padding: 8px 0;
	line-height: 18px;
}

.item_b {
	padding: 10px 8px;
}

.item_b .items_likes .like_btn {
	background: url("img/fav_icon_word_new_1220.png") no-repeat;
	display: block;
	float: left;
	height: 23px;
	width: 59px;
	margin-right: 5px;
}

.item_b .items_likes em {
	line-height: 23px;
	display: block;
	float: left;
	padding: 0px 6px;
	color: #FF6699;
	font-weight: 800;
	border: 1px solid #ff6fa6;
	border-radius: 3px;
}

/* more */
#more {
	display: block;
	margin: 10px auto 20px;
}

/* infscr-loading */
#infscr-loading {
	bottom: -10px;
	left: 45%;
	position: absolute;
	text-align: center;
	height: 20px;
	line-height: 20px;
	z-index: 100;
	width: 120px;
}

/* page */
.page {
	display: none;
	font-size: 18px;
	height: 60px;
	text-align: center;
	margin: 20px 0 0 0;
}

.page_num a,.page_num span {
	margin: 0 2px;
	background: url("img/page.png") no-repeat;
	display: inline-block;
	width: 30px;
	height: 28px;
	line-height: 26px;
	overflow: hidden;
}

.page_num a {
	background-position: -65px 0;
	color: #FF3333;
	overflow: hidden;
}

.page_num .prev {
	background-position: 1px -33px;
}

.page_num .unprev {
	background-position: 1px 0;
	cursor: default;
}

.page_num .next {
	background-position: -32px 0;
}

.page_num .unnext {
	background-position: -32px -33px;
	cursor: default;
}

.page_num .current {
	background-position: -99px 0;
	color: #FFFFFF;
}

.page_num .etc {
	background-position: -172px 8px;
}

/* to_top */
.to_top a,.to_top a:hover {
	background: url("img/gotop.png") no-repeat
}

.to_top a {
	background-position: 0 0;
	float: left;
	height: 50px;
	overflow: hidden;
	width: 50px;
	position: fixed;
	bottom: 35px;
	cursor: pointer;
	right: 20px;
	_position: absolute;
	_right: auto;
	_left: expression(eval(document.documentElement.scrollLeft +  
		document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft, 10)||0)-(parseInt(this.currentStyle.marginRight, 10)||20));
	_top: expression(eval(document.documentElement.scrollTop +   
		document.documentElement.clientHeight-this.offsetHeight- (   parseInt(this.currentStyle.marginTop
		, 10)||20)-(parseInt(this.currentStyle.marginBottom, 10)||20)));
}

.to_top a:hover {
	background-position: -51px 0px;
}